@import '../../scss/vars';

.btn {
  position: relative;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: $white-color;
  background-color: $accent-color;
  border-radius: 6px;
  width: 137px;
  transition: background-color .15s ease-in-out;

  &:hover {
    background-color: lighten($accent-color, 5%)
  }

  &--shadow {
    box-shadow: 0px 10px 20px rgba(18, 93, 123, 0.2);
  }

  &--md {
    width: 222px;
  }

  &--lg {
    width: 227px;
  }
}
