@import "../../scss/vars.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: $text-black-color;
  font-weight: 500;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 8px;
    margin-top: 25px;
  }

  &__btn {
    width: 137px;
  }
}

@media (max-width: $bp-tablet) {
   
}

@media (max-width: $bp-mobile) {
  .header {
    &__container {
      margin-top: 0;
    }

    &__logo {
      width: 114px;

      svg {
        width: 100%;
      }
    }

  }
}
